### FRONTEND ###
FRONTEND_PORT=3000

### GATEWAY ###
GATEWAY_PORT=4000
GATEWAY_JWT_SECRET_PATH=./secrets/gateway_jwt_secret

### AUTH SERVICE ###
AUTH_DB_PATH=./services/auth/auth.db
AUTH_JWT_SECRET_PATH=./secrets/auth_jwt_secret
AUTH_GOOGLE_CLIENT_ID_PATH=./secrets/google_client_id
AUTH_GOOGLE_CLIENT_SECRET_PATH=./secrets/google_client_secret
AUTH_CALLBACK_URL=http://localhost:4000/auth/google/callback

### USER SERVICE ###
USER_DB_PATH=./services/user/user.db
USER_AVATAR_UPLOAD_DIR=./uploads/avatars

### GAME SERVICE ###
GAME_DB_PATH=./services/game/game.db
GAME_MATCHMAKING_SECRET_PATH=./secrets/matchmaking_secret

### STATS SERVICE ###
STATS_DB_PATH=./services/stats/stats.db

### SSL CERTIFICATES (NGINX REVERSE PROXY) ###
SSL_CERT_PATH=./secrets/ssl_certificate
SSL_KEY_PATH=./secrets/ssl_certificate_key
DOMAIN_NAME=localhost

### HASHICORP VAULT (DEV ONLY) ###
VAULT_ADDR=http://vault:8200
VAULT_TOKEN_PATH=./secrets/vault_root_token

